@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

:root{
    --font-family:'Work Sans', sans-serif;
    --regular-font:400;
    --semi-bold:600;
    --bold:700;
    --font-size:16px;
}